DirectoryIndex index.html
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
</IfModule>

# PHP settings
<IfModule mod_php.c>
    php_value max_execution_time 30
    php_value memory_limit 128M
</IfModule>

# LiteSpeed PHP settings
<IfModule LiteSpeed>
    php_value max_execution_time 30
    php_value memory_limit 128M
</IfModule>
